<!DOCTYPE html>
<html ng-app="esports-app">
<head>
  <base href="/">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <title>LFScrim</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><img class="logo" src="/images/lol-logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="!main.isNavCollapsed">
      <ul class="nav navbar-nav pull-right">
        <li ng-show="main.user"><a ui-sref="postsIndex">Ads</a></li>
        <li ng-show="main.user"><a ui-sref="postsNew">Create an Ad</a></li>
        <li ng-show="main.user"><a ui-sref="usersShow">Account</a></li>
        <li ng-if="!main.user"><a ui-sref="login">Login</a></li>
        <li ng-if="!main.user"><a ui-sref="register">Register</a></li>
        <li ng-show="main.user"><a ng-click="main.logout()" href="#">Logout</a></li>
      </ul>
    </div>
  </nav>

  <main ui-view class="container-fluid">
    <div class="container-border">
    </div>
  </main>
  <footer class="footer">
    <div class="container footer-text">
      <h3 class="text-muted">
        <img class="kata-gif" src="/images/poro.png" alt="Poro">
        <img class="kata-gif" src="/images/katarina.gif" alt="Katarina">
        The only League of Legends dedicated team finder platform!
        <img class="kata-gif" src="/images/katarina.gif" alt="Katarina">
        <img class="kata-gif" src="/images/poro.png" alt="Poro">
      </h3>
    </div>
  </footer>
</body>
</html>
