// Import all of your scss files here

@font-face {
  font-family: 'Beaufort';
  src: url(/fonts/lol-fonts/beaufortforlol-regular.otf)
       url(/fonts/lol-fonts/beaufortforlol-bold.otf)
       url(/fonts/lol-fonts/beaufortforlol-bolditalic.otf)
       url(/fonts/lol-fonts/beaufortforlol-italic.otf);
}


.comments {
  border: 1px solid black;
}

body {
  background: #5B4F50;
  background-image: url(/images/lol-background2.png);
  font-family: 'Beaufort';
  color: #FBD886;
}

h1 {
  color: #FBD886;
  font-weight: bold;
}

h2 a {
  font-family: 'Playfair Display', serif;
}

.logo {
  width: 45px;
  margin: 0;
}

.navbar {
  background: rgba(23, 12, 23, 0.3);
  border: 0;
  border-radius: 0;
  height: 75px;
}

.collapse {
  border: 0;
}

.container-fluid {
  text-align: center;
  width: 80%;
  height: 600px;
  background: rgba(40, 35, 40, 0.9);
  border: 2px solid #c0c0c0;
}
