<div class="row">
  <div class="col-sm-6">
    <h2>{{ postsShow.post.title }}</h2>
    <p> {{ postsShow.post.body }}</p>

    <h4>Region: {{ postsShow.post.server }}</h4>

    <div>
      <a class="btn edit" ui-sref="postsEdit({id: postsShow.post.id })">Edit</a>
      <button class="btn" ng-click="postsShow.delete(postsShow.post)">Delete</button>
    </div>
  </div>

  <div class="col-sm-6">
    <label for="body">Comments</label>
    <ul class="comments">
      <li ng-repeat="comment in postsShow.post.comments"> {{ comment.user.username }}:
        {{ comment.body }}
      </li>
    </ul>
    <div class="form-group">
      <form name="postsShow.commentForm" ng-submit="postsShow.createComment()">
        <textarea class="form-control" name="body" rows="3" cols="80" ng-model="postsShow.comment.body"></textarea>
        <input class="btn" type="submit" name="" value="Add Comment">
      </form>
    </div>
  </div>
</div>

<div class="row">
  <h3> Posted by <a class="username" ui-sref="usersShow({id: postsShow.post.user.id})">{{ postsShow.post.user.username }}</a>
  </h3>
</div>
