<h1>Posts Edit</h1>

<form ng-submit="postsEdit.update()">
  <fieldset>
    <div>
      <label for="name">Title</label>
      <input ng-model="postsEdit.post.title" id="title" type="text" placeholder="Your ad's title">
    </div>
    <div>
      <label for="body">Description</label>
      <textarea ng-model="postsEdit.post.body" name="description" rows="8" cols="80" placeholder="Your ad's description"></textarea>
    </div>
    <label for="region">Server</label>
    <select ng-model="postsEdit.post.server" class="region" placeholder="Select your region">
      <option>Brazil</option>
      <option>Europe Nordic and East</option>
      <option>Europe West</option>
      <option>Latin America North</option>
      <option>Latin America South</option>
      <option>North America</option>
      <option>Oceania</option>
      <option>Russia</option>
      <option>Turkey</option>
      <option>Japan</option>
      <option>South East Asia</option>
      <option>Republic of Korea</option>
    </select>
    <div>
      <input type="submit" class="pure-button pure-button-primary" value="Submit">
    </div>
  </fieldset>
</form>
