
<div class="col-sm-3">
  <h1 class="h_profile"> {{ usersShow.user.username }}</h1>
</div>

<div class="post-body">
  <p>{{ usersShow.user.about }}</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3 class="current-rank">Current Rank: {{ usersShow.user.rank }}</h3>
  </div>
  <div class="col-sm-6">
    <h3><a class="visit-profile" ui-sref="{{usersShow.user.link }}">Visit my Summoner Profile on lolskill.net</a></h3>
  </div>
</div>



<a class="btn acc-edit" ui-sref="usersEdit({id: usersShow.user.id })">Edit Account</a>
