<h1>Looking for Scrim</h1>

<div uib-carousel interval="4000"  active="active">
  <div class="carousel-image" uib-slide index="0">
    <img ng-src="../images/Leona_0.jpg">
    <div class="carousel-caption">
      <p class="carousel-text">
        Find a Team
      </p>
      </div>
    </div>
    <div class="carousel-image" uib-slide index="1">
      <img ng-src="../images/Diana_1.jpg" />
      <div class="carousel-caption">
        <p class="carousel-text">
          Recruit a new Member
        </p>
      </div>
    </div>
    <div class="carousel-image" uib-slide index="2">
      <img ng-src="../images/Darius_3.jpg" />
      <div class="carousel-caption">
        <p class="carousel-text">
          Set up or find Scrims
        </p>
      </div>
    </div>
  </div>
